@use 'animationsMixin' as *;

.openConfig{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: .5rem;
  position: absolute;
  z-index: 100;

  svg{
    width: 100%;
    height: 100%;
    transition: fill .5s ease-in-out;
  }
}

.container-text{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px;
  transform-style: preserve-3d;

  .container-text-wrapper-animation{
    transform-style: preserve-3d;
    @include animations_text();

    .text-wrapper{
      font-family: "Open Sans", sans-serif;
      transition: color .5s ease-in-out;
      display: none;

      &.active{
        display: block;
      }

      header{
        h1{
          text-align: center;
          font-size: clamp(.8rem, 30vw, 2rem);
        }
      }

      section{
        p{
          max-width: 700px;
          padding: 1.2rem 2rem 0 2rem;
          text-align: justify;
          font-size: clamp(.5rem, 1.8vw, 1.1rem);
        }
      }

      @media screen and (max-width: 700px){
        header{
          h1{
            font-size: clamp(.8rem, 5vw, 2rem);
          }
        }

        section{
          p{
            font-size: clamp(.5rem, 2.5vw, 1.1rem);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .openConfig{
    top: 0;
    right: 0;

    &.right,
    &.bottom{
      right: inherit !important;
      left: 0;
    }
  }
}
