.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-window-wrapper{
    width: 80%;
    height: 85%;
    background-color: #2c2c2c;
    border-radius: .5rem;
    position: relative;

    .close{
      width: 1.5rem;
      height: 1.5rem;
      background-color: rgba(0, 0, 0, 0.705);
      border-radius: 50%;
      color: #ffffff;
      position: absolute;
      top: -1.5rem;
      right: -1.5rem;
      cursor: pointer;

      mat-icon{
        width: 100%;
        height: 100%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
