<div class="container">
    @for (animation of animations; track animation) {
        <div class="animation-wraper" [ngStyle]="{ 'border': animation.checked ? '4px solid #ffffff' : '' }" [@reload_animation]="reload_animation ? 'init' : 'final'">
            <input type="radio" [id]="animation.id" name="animations" (change)="enviAnimation(animation)">
            <label [for]="animation.id">
                <div class="separar">
                    <div class="remov_text" [title]="animation.title.remov" [ngStyle]="{ 'background-color': animation.color.remov_text, 'color': animation.color.troca_text }" >
                        <div class="text-wraper" [id]="animation.identifier.remov">
                            <div class="title">
                                <h6>Lorem</h6>
                            </div><!-- title -->

                            <div class="text">
                                <p>texto de exemplo texto de exemplo texto de exemplo texto de exemplo texto de exemplo</p>
                            </div><!-- text -->
                        </div><!-- text-wraper -->
                    </div><!-- text-wraper -->
                </div><!-- separar -->

                <div class="separar">
                    <div class="troca_text" [title]="animation.title.troca" [ngStyle]="{ 'background-color': animation.color.troca_text, 'color': animation.color.remov_text }" >
                        <div class="text-wraper" [id]="animation.identifier.troca">
                            <div class="title">
                                <h6>Lorem</h6>
                            </div><!-- title -->

                            <div class="text">
                                <p>texto de exemplo texto de exemplo texto de exemplo texto de exemplo texto de exemplo</p>
                            </div><!-- text -->
                        </div><!-- text-wraper -->
                    </div><!-- text-wraper -->
                </div><!-- separar -->
            </label>
        </div><!-- animation-wraper -->
    }
</div><!-- container -->
