<div class="container" [class.openingConfig]="openingConfig">
  <header>
    <h1>Settings</h1>
  </header>

  <section class="config">
    @for(button of buttons; track button){
     <div class="button-wrapper">
      <div class="label">
        <h4>{{ button.label + ':'}}</h4>
      </div><!-- label -->
      <div class="button"
        [style.backgroundColor]="button.color.backgroundColor"
        (click)="button.onClick(button)"
      >
        <div class="circle"
          [style.backgroundColor]="button.color.colorOfCircle"
          [class.active]="button.isActive"
        ></div><!-- circle -->
        <div class="textInButton" [style.color]="button.color.colorOfText">
          <h5>
            {{
              button.isActive ?
              button.textInButton.active :
              button.textInButton.disable
            }}
          </h5>
        </div><!-- textInButton -->
      </div><!-- button -->
     </div><!-- button-wrapper -->

     @if(button.isActive && button.presets){
      <div class="presets-wrapper">
        <app-presets></app-presets>
      </div><!-- presets-wrapper -->
     }
    }
  </section><!-- config -->
</div><!-- container -->
