@mixin animations_text($timeChange: 3s, $timeRemove: 3s, $interation-count: 1){
  //* ANIMATIONS DEFAULT

  @keyframes change_default{
    0%{
      opacity: 1;
      transform: rotateY(0deg);
    }

    25%{
      opacity: 0.5;
    }

    40%{
      opacity: 0;
    }

    60%{
      opacity: 0;
    }

    80%{
      opacity: 1;
    }

    100%{
      transform: rotateY(360deg);
    }
  }

  @keyframes remove_default{
    0%{
      opacity: 1;
      transform: scale(1) rotateZ(0deg);
    }

    100%{
      opacity: 0;
      transform: scale(0) rotateZ(360deg);
    }
  }

  &.change_default{
    animation: change_default $timeChange ease-in-out $interation-count;
  }

  &.remove_default{
    &.enter{
      animation: remove_default $timeRemove ease-in-out $interation-count;
    }

    &.exit{
      animation: remove_default $timeRemove ease-in-out reverse $interation-count;
    }
  }

  //*  ANCT = ANimation Change Text
  //*  ANRT = ANimation Remove Text

  @keyframes ANCT0{
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    15%{
      opacity: 1;
    }

    25% {
      opacity: 0;
      transform: translate(0, 150%);
    }

    75% {
      opacity: 0;
      transform: translate(0, -150%);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes ANCT1{
    0%{
      opacity: 1;
    }

    50%{
      opacity: 0;
      filter: blur(100px);
    }

    100%{
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes ANCT2{
    0%{
      opacity: 1;
      transform: translate(0, 0);
    }

    10%{
      transform: translate(-20%, 0);
    }

    20%{
      transform: translate(20%, 0);
    }

    30%{
      transform: translate(-20%, 0);
    }

    40%{
      transform: translate(20%, 0);
    }

    50%{
      opacity: 0;
      transform: translate(-20%, 0);
    }

    60%{
      transform: translate(15%, 0);
    }

    70%{
      opacity: 0;
      transform: translate(-15%, 0);
    }

    80%{
      transform: translate(15%, 0);
    }

    90%{
      transform: translate(-15%, 0);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes ANCT3{
    0%{
      opacity: 1;
      transform: translate(0) scale(1);
    }

    25%{
      transform: scale(.5);
    }

    40%{
      transform: translate(100%, 0) scale(.5);
    }

    50%{
      opacity: 0;
      transform: translate(-100%,0) scale(.5);
    }

    75%{
      transform: translate(0) scale(.5);
    }

    100%{
      opacity: 1;
      transform: translate(0) scale(1);
    }
  }

  &.ANCT0{
    &.enter{
      animation: ANCT0 $timeChange ease-in-out $interation-count;
    }

    &.exit{
      animation: ANCT0 $timeChange ease-in-out reverse $interation-count;
    }
  }

  &.ANCT1{
    animation: ANCT1 $timeChange ease-in-out $interation-count;
  }

  &.ANCT2{
    animation: ANCT2 $timeChange ease-in-out $interation-count;
  }

  &.ANCT3{
    animation: ANCT3 $timeChange ease-in-out $interation-count;
  }

  //* O primeiro número representa o índice da animação
  //* O segundo número indica se é a animação de entrada ou de saída
  //* 0 = entrada; 1 = saída

  @keyframes ANRT00{
    0%{
      transform: translate(0);
    }

    100%{
      transform: translate(-200%, 0);
      opacity: 0;
    }
  }

  @keyframes ANRT01{
    0%{
      opacity: 0;
      transform: translate(200%, 0);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes ANRT10{
    0%{
      transform: translate(0);
      opacity: 1;
    }

    50%{
      transform: translate(0, -20%);
      filter: blur(20px);
      opacity: 0;
    }

    100%{
      opacity: 0;
    }
  }

  @keyframes ANRT11 {
    0%{
      transform: translate(0, 200%);
    }

    50%{
      transform: translate(0, -30%);
    }

    75%{
      transform: translate(0, 20%);
    }

    100%{
      transform: translate(0, 0);
    }
  }

  @keyframes ANRT20{
    0%{
      transform: scale(1);
    }

    20%{
      transform: scale(1.3);
    }

    40%{
      transform: scale(1);
    }

    60%{
      transform: scale(1.3);
    }

    80%{
      transform: scale(1);
    }

    100%{
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes ANRT21{
    0%{
      transform: scale(2);
      opacity: 0;
    }

    50%{
      transform: scale(.5);
      opacity: 1;
    }

    75%{
      transform: scale(1.5);
    }

    100%{
      transform: scale(1);
    }
  }

  @keyframes ANRT30{
    0%{
      transform: translate(0, 0) rotateX(0);
    }

    100%{
      transform: translate(150%, 0) rotateZ(360deg);
    }
  }

  @keyframes ANRT31{
    0%{
      transform: translate(-150%, 0) rotateX(0);
    }

    100%{
      transform: translate(0, 0) rotateZ(360deg);
    }
  }

  &.ANRT0{
    &.enter{
      animation: ANRT00 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT01 $timeRemove ease-in-out;
    }
  }

  &.ANRT1{
    &.enter{
      animation: ANRT10 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT11 $timeRemove ease-in-out;
    }
  }

  &.ANRT2{
    &.enter{
      animation: ANRT20 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT21 $timeRemove ease-in-out;
    }
  }

  &.ANRT3{
    &.enter{
      animation: ANRT30 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT31 $timeRemove ease-in-out;
    }
  }
}

@mixin reload_button(){
  @keyframes reload {
    0%{
      opacity: 0.3;
    }

    100%{
      opacity: 1;
    }
  }

  &.reload-button{
    pointer-events: none;
    animation: reload 3s ease-in-out;
  }
}
