@mixin animations_text($time: 3s){
  //*  ANCT = ANimation Change Text
  //*  ANRT = ANimation Remove Text

  @keyframes ANCT0{
    0%{
      opacity: 1;
      transform: translate(0);
    }

    25%{
      opacity: 0;
      transform: translate(0, 100%);
    }

    75%{
      opacity: 0;
      transform: translate(0, -100%);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes ANCT1{
    0%{
      opacity: 1;
    }

    50%{
      opacity: 0;
      filter: blur(100px);
    }

    100%{
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes ANCT2{
    0%{
      opacity: 1;
      transform: translate(0, 0);
    }

    10%{
      transform: translate(-20%, 0);
    }

    20%{
      transform: translate(20%, 0);
    }

    30%{
      transform: translate(-20%, 0);
    }

    40%{
      transform: translate(20%, 0);
    }

    50%{
      opacity: 0;
      transform: translate(-20%, 0);
    }

    60%{
      transform: translate(15%, 0);
    }

    70%{
      opacity: 0;
      transform: translate(-15%, 0);
    }

    80%{
      transform: translate(15%, 0);
    }

    90%{
      transform: translate(-15%, 0);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes ANCT3{
    0%{
      opacity: 1;
      transform: translate(0) scale(1);
    }

    25%{
      transform: scale(.5);
    }

    40%{
      transform: translate(100%, 0) scale(.5);
    }

    50%{
      opacity: 0;
      transform: translate(-100%,0) scale(.5);
    }

    75%{
      transform: translate(0) scale(.5);
    }

    100%{
      opacity: 1;
      transform: translate(0) scale(1);
    }
  }

  &.ANCT0{
    &.enter{
      animation: ANCT0 $time ease-in-out;
    }

    &.exit{
      animation: ANCT0 $time ease-in-out reverse;
    }
  }

  &.ANCT1{
    animation: ANCT1 $time ease-in-out;
  }

  &.ANCT2{
    animation: ANCT2 $time ease-in-out;
  }

  &.ANCT3{
    animation: ANCT3 $time ease-in-out;
  }

  //* O primeiro número representa o índice da animação
  //* O segundo número indica se é a animação de entrada ou de saída
  //* 0 = entrada; 1 = saída

  @keyframes ANRT00{
    0%{
      transform: translate(0);
    }

    100%{
      transform: translate(-100%, 0);
    }
  }

  @keyframes ANRT01{
    0%{
      transform: translate(100%, 0);
    }

    100%{
      transform: translate(0);
    }
  }

  @keyframes ANRT10{
    0%{
      transform: translate(0);
      opacity: 0;
    }

    50%{
      transform: translate(0, -20%);
      filter: blur(20px);
      opacity: 0;
    }

    100%{
      opacity: 0;
    }
  }

  @keyframes ANRT11 {
    0%{
      transform: translate(0, 100%);
    }

    50%{
      transform: translate(0, -20%);
    }

    75%{
      transform: translate(0, 20%);
    }

    100%{
      transform: translate(0, 0);
    }
  }

  @keyframes ANRT20{
    0%{
      transform: scale(1);
    }

    20%{
      transform: scale(1.3);
    }

    40%{
      transform: scale(1);
    }

    60%{
      transform: scale(1.3);
    }

    80%{
      transform: scale(1);
    }

    100%{
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes ANRT21{
    0%{
      transform: scale(2);
      opacity: 0;
    }

    50%{
      transform: scale(.5);
      opacity: 1;
    }

    75%{
      transform: scale(1.5);
    }

    100%{
      transform: scale(1);
    }
  }

  @keyframes ANRT30{
    0%{
      transform: translate(0, 0) rotateX(0);
    }

    100%{
      transform: translate(100%, 0) rotateZ(360deg);
    }
  }

  @keyframes ANRT31{
    0%{
      transform: translate(-100%, 0) rotateX(0);
    }

    100%{
      transform: translate(0, 0) rotateZ(360deg);
    }
  }

  &.ANRT0{
    &.enter{
      animation: ANRT00 $time ease-in-out;
    }

    &.exit{
      animation: ANRT01 $time ease-in-out;
    }
  }

  &.ANRT1{
    &.enter{
      animation: ANRT10 $time ease-in-out;
    }

    &.exit{
      animation: ANRT11 $time ease-in-out;
    }
  }

  &.ANRT2{
    &.enter{
      animation: ANRT20 $time ease-in-out;
    }

    &.exit{
      animation: ANRT21 $time ease-in-out;
    }
  }

  &.ANRT3{
    &.enter{
      animation: ANRT30 $time ease-in-out;
    }

    &.exit{
      animation: ANRT31 $time ease-in-out;
    }
  }
}
