@mixin animations_text($timeChange: 3s, $timeRemove: 3s, $interation-count: 1){
  //* ANIMATIONS DEFAULT

  @keyframes change_default{
    0%{
      opacity: 1;
      transform: rotateY(0deg);
    }

    25%{
      opacity: 0.5;
    }

    40%{
      opacity: 0;
    }

    60%{
      opacity: 0;
    }

    80%{
      opacity: 1;
    }

    100%{
      transform: rotateY(360deg);
    }
  }

  @keyframes remove_default{
    0%{
      opacity: 1;
      transform: scale(1) rotateZ(0deg);
    }

    100%{
      opacity: 0;
      transform: scale(0) rotateZ(360deg);
    }
  }

  &.change_default{
    animation: change_default $timeChange ease-in-out $interation-count;
  }

  &.remove_default{
    &.enter{
      animation: remove_default $timeRemove ease-in-out $interation-count;
    }

    &.exit{
      animation: remove_default $timeRemove ease-in-out reverse $interation-count;
    }
  }

  //*  ANCT = ANimation Change Text
  //*  ANRT = ANimation Remove Text

  @keyframes ANCT0{
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }

    15%{
      opacity: 1;
    }

    25% {
      opacity: 0;
      transform: translate(0, 150%);
    }

    75% {
      opacity: 0;
      transform: translate(0, -150%);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes ANCT1{
    0%{
      opacity: 1;
    }

    50%{
      opacity: 0;
      filter: blur(100px);
    }

    100%{
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes ANCT2{
    0%{
      opacity: 1;
      transform: translate(0, 0);
    }

    10%{
      transform: translate(-20%, 0);
    }

    20%{
      transform: translate(20%, 0);
    }

    30%{
      transform: translate(-20%, 0);
    }

    40%{
      transform: translate(20%, 0);
    }

    50%{
      opacity: 0;
      transform: translate(-20%, 0);
    }

    60%{
      transform: translate(15%, 0);
    }

    70%{
      opacity: 0;
      transform: translate(-15%, 0);
    }

    80%{
      transform: translate(15%, 0);
    }

    90%{
      transform: translate(-15%, 0);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes ANCT3{
    0%{
      opacity: 1;
      transform: translate(0) scale(1);
    }

    25%{
      transform: scale(.5);
    }

    40%{
      transform: translate(100%, 0) scale(.5);
    }

    45%{
      opacity: 0;
    }

    50%{
      opacity: 0;
      transform: translate(-100%,0) scale(.5);
    }

    75%{
      transform: translate(0, 0) scale(.5);
    }

    100%{
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
  }

  &.ANCT0{
    &.enter{
      animation: ANCT0 $timeChange ease-in-out $interation-count;
    }

    &.exit{
      animation: ANCT0 $timeChange ease-in-out reverse $interation-count;
    }
  }

  &.ANCT1{
    animation: ANCT1 $timeChange ease-in-out $interation-count;
  }

  &.ANCT2{
    animation: ANCT2 $timeChange ease-in-out $interation-count;
  }

  &.ANCT3{
    animation: ANCT3 $timeChange ease-in-out $interation-count;
  }

  //* O primeiro número representa o índice da animação
  //* O segundo número indica se é a animação de entrada ou de saída
  //* 0 = entrada; 1 = saída

  @keyframes ANRT00{
    0%{
      transform: translate(0);
    }

    100%{
      transform: translate(-200%, 0);
      opacity: 0;
    }
  }

  @keyframes ANRT01{
    0%{
      opacity: 0;
      transform: translate(200%, 0);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes ANRT10{
    0%{
      transform: translate(0);
      opacity: 1;
    }

    50%{
      transform: translate(0, -20%);
      filter: blur(20px);
      opacity: 0;
    }

    100%{
      opacity: 0;
    }
  }

  @keyframes ANRT11 {
    0%{
      transform: translate(0, 200%);
    }

    50%{
      transform: translate(0, -30%);
    }

    75%{
      transform: translate(0, 20%);
    }

    100%{
      transform: translate(0, 0);
    }
  }

  @keyframes ANRT20{
    0%{
      transform: scale(1);
    }

    20%{
      transform: scale(1.3);
    }

    40%{
      transform: scale(1);
    }

    60%{
      transform: scale(1.3);
    }

    80%{
      transform: scale(1);
    }

    100%{
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes ANRT21{
    0%{
      transform: scale(2);
      opacity: 0;
    }

    50%{
      transform: scale(.5);
      opacity: 1;
    }

    75%{
      transform: scale(1.5);
    }

    100%{
      transform: scale(1);
    }
  }

  @keyframes ANRT30{
    0%{
      transform: translate(0, 0) rotateX(0);
    }

    100%{
      transform: translate(150%, 0) rotateZ(360deg);
    }
  }

  @keyframes ANRT31{
    0%{
      transform: translate(-150%, 0) rotateX(0);
    }

    100%{
      transform: translate(0, 0) rotateZ(360deg);
    }
  }

  &.ANRT0{
    &.enter{
      animation: ANRT00 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT01 $timeRemove ease-in-out;
    }
  }

  &.ANRT1{
    &.enter{
      animation: ANRT10 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT11 $timeRemove ease-in-out;
    }
  }

  &.ANRT2{
    &.enter{
      animation: ANRT20 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT21 $timeRemove ease-in-out;
    }
  }

  &.ANRT3{
    &.enter{
      animation: ANRT30 $timeRemove ease-in-out;
    }

    &.exit{
      animation: ANRT31 $timeRemove ease-in-out;
    }
  }
}

@mixin reload_button(){
  @keyframes reload {
    0%{
      opacity: 0.3;
    }

    100%{
      opacity: 1;
    }
  }

  &.reload-button{
    pointer-events: none;
    animation: reload 3s ease-in-out;
  }
}

@mixin animations_config($preview: true){
  //* ANIMAÇÕES GERAIS

  /**/

  @keyframes conteudo_close {
    0%{
      width: 70%;
    }

    38%{
      width: 100%;
    }

    70%{
      width: 100%;
    }

    100%{
      width: 70%;
    }
  }

  @keyframes config_close {
    0%{
      width: 30%;
    }

    38%, 70%{
      width: 0;
    }

    100%{
      width: 30%;
    }
  }

  @keyframes ANC0 {
    0%{
      transform: scale(1);
    }

    @if($preview){
      50%{
        transform: scale(0);
      }
    }

    100%{
      @if($preview){
        transform: scale(1);
      }@else{
        transform: scale(0);
      }
    }
  }

  @keyframes ANC1 {
    0%{
      transform: translateY(0);
    }

    @if($preview){
      50%{
        transform: translateY(-100%);
      }
    }

    100%{
      @if($preview){
        transform: translateY(0);
      }@else{
        transform: translateY(-100%);
      }
    }
  }

  @keyframes ANC2 {
    0%{
      transform: scale(1) rotateZ(0deg);
    }

    @if($preview){
      50%{
        transform: scale(0) rotateZ(360deg);
      }
    }

    100%{
      @if($preview){
        transform: scale(1) rotateZ(0deg);
      }@else{
        transform: scale(0) rotateZ(-360deg);
      }
    }
  }

  @keyframes ANC3 {
    0%{
      opacity: 1;
      transform: scale(1);
    }

    @if($preview){
      50%{
        opacity: 0;
        transform: scale(4);
      }
    }

    100%{
      @if($preview){
        opacity: 1;
        transform: scale(1);
      }@else{
        opacity: 0;
        transform: scale(4);
      }
    }
  }

  /***/

  //* ANIMAÇÕES RESPONSIVAS

  /**/

  @keyframes config_close_responsive {
    0%{
      height: 70%;
    }

    38%, 70%{
      height: 0;
    }

    100%{
      height: 70%;
    }
  }

  /***/

  //* ANIMAÇÕES PARA BOTTOM E TOP

  /**/

  @keyframes conteudo_close_bottom_and_top {
    0%{
      height: 70%;
    }

    38%, 70%{
      height: 100%;
    }

    100%{
      height: 70%;
    }
  }

  @keyframes config_close_bottom_and_top {
    0%{
      height: 30%;
    }

    38%, 70%{
      height: 0;
    }

    100%{
      height: 30%;
    }
  }

  /***/

  @if $preview {
    &.top, &.bottom{
      @media screen and (min-width: 700px) {
        .config{
          animation: config_close_bottom_and_top 1.5s ease-in infinite !important;
        }

        .conteudo{
          animation: conteudo_close_bottom_and_top 1.5s ease-in infinite !important;
        }
      }
    }

    .config{
      @media screen and (min-width: 700px) {
        animation: config_close 1.5s ease-in infinite;

        &.ANCC00{
          .container-buttons{
            animation: ANC0 1.5s ease-in infinite;
          }
        }

        &.ANCC01{
          .container-buttons{
            animation: ANC1 1.5s ease-in infinite;
          }
        }

        &.ANCC02{
          .container-buttons{
            animation: ANC2 1.5s ease-in infinite;
          }
        }

        &.ANCC03{
          .container-buttons{
            animation: ANC3 1.5s ease-in infinite;
          }
        }
      }

      @media screen and (max-width: 700px) {
        animation: config_close_responsive 1.6s ease-in infinite;

        &.ANCC00{
          .container-buttons{
            animation: ANC0 1.6s ease-in infinite;
          }
        }

        &.ANCC01{
          .container-buttons{
            animation: ANC1 1.6s ease-in infinite;
          }
        }

        &.ANCC02{
          .container-buttons{
            animation: ANC2 1.6s ease-in infinite;
          }
        }

        &.ANCC03{
          .container-buttons{
            animation: ANC3 1.6s ease-in infinite;
          }
        }
      }
    }
  }@else {
    &.ANCC00{
      transform: scale(0);
      overflow: hidden;

      &.openingConfig{
        transform: scale(1) !important;
        overflow: scroll;
      }
    }

    &.ANCC01{
      transform: translateY(-100%);

      &.openingConfig{
        transform: translateY(0) !important;
      }
    }

    &.ANCC02{
      transform: scale(0) rotateZ(-360deg);

      &.openingConfig{
        transform: scale(1) rotateZ(0deg) !important;
      }
    }

    &.ANCC03{
      opacity: 0;
      transform: scale(4);

      &.openingConfig{
        opacity: 1;
        transform: scale(1) !important;
      }
    }
  }

  .conteudo{
    @media screen and (min-width: 700px) {
      animation: conteudo_close 1.5s ease-in infinite;
    }
  }
}
