.container{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  > * {
    flex: 0 0 auto;
  }

  app-config, app-conteudo{
    transition:
        width .5s ease-in-out,
        height .5s ease-in-out,
        background-color .5s ease-in-out
    ;
    overflow: hidden;
  }

  app-config{
    width: 0;
    height: 100%;
  }

  app-config.isOpenConfig{
    width: 25%;
  }

  app-conteudo{
    width: 100%;
    height: 100%;
  }

  app-conteudo.isOpenConfig{
    width: 75%;
  }

  .transitionOff{
    transition: none !important;
  }

  @media screen and (max-width: 1200px){
    app-config.isOpenConfig{
      width: 30%;
    }

    app-conteudo.isOpenConfig{
      width: 70%;
    }
  }

  @media screen and (max-width: 950px){
    app-config.isOpenConfig{
      width: 40%;
    }

    app-conteudo.isOpenConfig{
      width: 60%;
    }
  }

  @media screen and (max-width: 700px){
    app-config{
      position: absolute;
      top: 0;
      left: 0;
      width: 18rem;
      height: 0;
    }

    app-config.isOpenConfig{
      width: 18rem;
      height: 24rem;
    }

    app-conteudo{
      width: 100% !important;
      transition: none !important;
    }
  }

  @media screen and (max-width: 450px){
    app-config{
      width: 15rem;
    }

    app-config.isOpenConfig{
      width: 15rem;
    }

    app-conteudo{
      width: 100% !important;
      transition: none !important;
    }
  }
}
