<div class="container">
  <div class="container-config" [ngStyle]="{ 'width': value_config ? width_config : '0%' }">
    <app-configuracao
      (enviAnimation)="receberAnimation($event)"
      (enviPrede)="receberPrede($event)"
      (enviInput)="receberInput($event)"
      (enviState)="receberBtnState($event)"
      (enviTrocaText)="receberTrocaText($event)"
      (enviRemoveText)="receberRemovText($event)"
      ></app-configuracao>
  </div><!-- container-config -->

  <div class="container-conteudo" [ngStyle]="{ 'width': value_config ? width_conteudo : '100%' }">
    <app-conteudo
      [color_icon_config]="color_icon_config"
      [color_text]="color_text"
      [color_conteudo]="color_conteudo"
      [button_state]="button_state_prede"
      [remove_text]="remove_text"
      [troca_text]="troca_text"
      [animate]="animate"
      (envi_config_value)="receberValueConfig($event)"
      ></app-conteudo>
  </div><!-- container-content -->
</div><!-- container -->
