.container{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  > * {
    flex: 0 0 auto;
  }

  &.right{
    flex-direction: row-reverse;
  }

  &.top, &.bottom{
    flex-direction: column;

    app-conteudo{
      width: 100% !important;
    }

    app-config{
      width: 100% !important;
      height: 30% !important;
    }
  }

  &.bottom{
    app-config{
      order: 2;
    }

    app-conteudo{
      order: 1;
    }
  }

  app-config, app-conteudo{
    transition:
        width .5s ease-in-out,
        height .5s ease-in-out,
        background-color .5s ease-in-out
    ;
    overflow: hidden;
  }

  app-config{
    width: 0;
    height: 100%;
    position: relative;
    z-index: 100;
  }

  app-config.isOpenConfig{
    width: 25%;
  }

  app-config.changeSideConfig{
    width: 100% !important;
    height: 0 !important;
  }

  app-config.changeSideConfig.isOpenConfig{
    height: 30% !important;
  }

  app-conteudo{
    width: 100%;
    height: 100%;
  }

  app-conteudo.isOpenConfig{
    width: 75%;
  }

  app-conteudo.changeSideConfig{
    width: 100% !important;
  }

  app-conteudo.changeSideConfig.isOpenConfig{
    height: 70% !important;
  }

  .transitionOff{
    transition: background-color .5s ease-in-out !important;
  }

  @media screen and (max-width: 1200px){
    app-config.isOpenConfig{
      width: 30%;
    }

    app-conteudo.isOpenConfig{
      width: 70%;
    }
  }

  @media screen and (max-width: 950px){
    app-config.isOpenConfig{
      width: 40%;
    }

    app-conteudo.isOpenConfig{
      width: 60%;
    }
  }

  @media screen and (max-width: 700px){
    &.rigth{
      app-config{
        left: inherit;
        right: 0;
      }
    }

    &.top, &.bottom{
      flex-direction: row;

      app-config{
        bottom: 0;
        top: inherit;
      }
    }

    &.bottom{
      app-config{
        left: inherit;
        right: 0;
        order: 1;
      }

      app-conteudo{
        order: 2;
      }
    }

    app-config{
      position: absolute;
      top: 0;
      left: 0;
      width: 18rem !important;
      max-width: 18rem !important;
      height: 0;

      &.isOpenConfig{
        width: 18rem;
        height: 24rem;

        &.changeSideConfig{
          width: 18rem !important;
          height: 24rem !important;
        }
      }
    }

    app-conteudo{
      width: 100% !important;
      transition: background-color .5s ease-in-out !important;

      &.changeSideConfig.isOpenConfig{
        height: 100% !important;
      }
    }
  }

  @media screen and (max-width: 450px){
    app-config{
      width: 15rem;
    }

    app-config.isOpenConfig{
      width: 15rem;
    }

    app-conteudo{
      width: 100% !important;
      transition: background-color .5s ease-in-out !important;
    }
  }
}
