@use './animationsMixin' as *;
@use './configPreviewStyle' as *;

.container{
  width: 100%;
  height: 25rem;

  .content-title{
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;

    h6{
      color: #b6b6b6;
      font-family: "Open Sans", sans-serif;
      font-size: .8rem;

      &::after{
        content: ":";
      }
    }
  }

  .container-text-animations,
  .container-config-animations{
    width: 100%;
    height: calc(50% - 3rem);
  }

  .container-text-animations{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

    .animation-wrapper{
      width: clamp(6rem, 20vw, 43%);
      height: 3.5rem;
      cursor: pointer;
      border: 2px solid;
      border-color: black;
      display: flex;
      font-family: "Open Sans", sans-serif;
      transition: transform .2s ease-in-out, border-color .3s ease-in-out;

      &.selected{
        border-color: whitesmoke;
      }

      &:hover{
        transform: scale(1.1);
      }

      .text-wrapper{
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: background-color .5s ease-in-out, color .5s ease-in-out;

        .text{
          width: 100%;
          height: 100%;
          padding: .35rem 0 0 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: .25rem;

          @include animations_text(
            $timeChange: 5s,
            $timeRemove: 2s,
            $interation-count: infinite
          );

          h5{
            font-size: .7rem;
          }

          p{
            font-size: .25rem;
            text-align: center;
            max-width: 80%;
          }
        }
      }
    }
  }

  .container-config-animations{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5rem;

    .config-animation-wrapper{
      @include configPreviewStyle(
        $isSettingSide: false,
        $width: clamp(6rem, 20vw, 35%),
        $height: 40%,
        $marginOpenConfig: .3rem
      );

      @include animations_config($preview: true);

      .config{
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 700px){
    .animation-wrapper{
      width: clamp(6.5rem, 20vw, 40%);
    }
  }

  @media screen and (max-width: 430px){
    .animation-wrapper{
      width: 6.4rem;
    }
  }
}
