.container{
    width: 100%;
    height: 100%;
}

.container .container-inputs{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .container-inputs .input-wraper{
    width: 25%;
    height: 30px;
}

.container .container-inputs .input-wraper input{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-wraper input::-webkit-color-swatch{
    border: 3px solid whitesmoke;
    border-radius: 30px;
}

.container-prede{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.container-prede header{
    margin-bottom: 20px;
}

.container-prede .prede-contet-wraper{
    display: flex;
    gap: 10px;
}

.container-prede .prede-contet-wraper .prede-wraper{
    width: 33.3%;
    height: 40px;
    display: flex;
    border: 2px solid whitesmoke;
    cursor: pointer;
    transition: width 0.3s, height 0.3s, margin-top 0.3s;
}

.container-prede .prede-contet-wraper .prede-wraper:hover {
    width: 100%;
    height: 60px;
    margin-top: -10px;
}

.prede-wraper:hover .configuracao .container-buttons{
    opacity: 1;
}

.prede-wraper .configuracao{
    width: 30%;
    height: 100%;
}

.prede-wraper .configuracao .container-buttons{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

.prede-wraper .configuracao .container-buttons .button-wraper{
    width: 100%;
    height: 30%;
    padding-top: 10px;
}

.configuracao .container-buttons .button-wraper .button{
    width: 60%;
    height: 10px;
    margin-left: 10px;
    border-radius: 100px;
    position: relative;
}

.container-buttons .button-wraper .button .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.container-buttons .button-wraper .button.ativo .circle{
    left: 11px;
}

.prede-wraper .conteudo{
    width: 70%;
    height: 100%;
    position: relative;
}

.prede-wraper .conteudo .btn-config{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 2px;
}

.prede-wraper .conteudo .text{
    width: 80%;
    height: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}