<div class="container" [ngStyle]="{ 'background-color': color_config }">
    <header>
        <h1>Configurações</h1>
    </header>

    <div class="container-buttons">
        <app-buttons
        [btn_color_screen_value]="btn_color_screen_value"
        (enviAnimation)="receberAnimation($event)"
        (enviRemoveText)="receberRemovText($event)"
        (enviTrocaText)="receberTrocaText($event)"
        (enviPrede)="receberPrede($event)"
        (enviInput)="receberInput($event)"
        (enviButtonState)="receberButtonState($event)"></app-buttons>
    </div><!-- container-buttons -->
</div><!-- container -->
