.container{
    width: 100%;
    height: 100%;
    color: whitesmoke;
    transition: background-color 0.5s;
    background-color: #5acf5d;
}

.container header{
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
}

.container .container-buttons{
    width: 100%;
    height: calc(100% - 100px);
}
