@use 'animationsMixin' as *;

.load_animation{
  @include animations_config();
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html, body{
  width: 100%;
  height: 100vh;
}
