<div class="container">
  @for(settingSide of settings_side; track settingSide){
    <div class="content-wrapper"
      [class]="settingSide.side"
      [class.active]="settingSide.active"
      (click)="selectSettingSide(settingSide)"
    >
      <div
        class="config"
        [style.backgroundColor]="settingSide.colors.colorConfig"
      >
        <div class="container-buttons">
          <div
            class="button"
            [style.backgroundColor]="settingSide.colors.button!.inactive.buttonColor"
          >
            <div
              class="circle"
              [style.backgroundColor]="settingSide.colors.button!.circleColor"
            ></div><!-- circle-->
          </div><!-- button -->

          <div
            class="button"
            [style.backgroundColor]="settingSide.colors.button!.active.buttonColor"
          >
            <div
              class="circle"
              [style.backgroundColor]="settingSide.colors.button!.circleColor"
            ></div><!-- circle-->
          </div><!-- button -->
        </div><!-- container-buttons -->
      </div><!-- config -->

      <div
        class="conteudo"
        [style.backgroundColor]="settingSide.colors.conteudo"
      >
        <div class="openConfig-wrapper">
          <div
            class="openConfig"
            [style.backgroundColor]="settingSide.colors.colorIcon"
          ></div><!-- openConfig -->
        </div><!-- openConfig-wrapper -->

        <div class="text-wrapper">
          <div
          class="text"
          [style.backgroundColor]="settingSide.colors.colorText"
          ></div><!-- text -->
        </div><!-- text-wrapper -->
      </div><!-- conteudo -->
    </div><!-- content-wrapper -->
  }
</div><!-- container -->
