<div class="container">
  <div class="container-inputs">
    @for(input of inputs; track input){
      <div class="input-wrapper">
        <input
          type="color"
          [id]="input.colorId"
          [(ngModel)]="input.colorInput"
          (input)="input.changeColor(input.colorInput)"
          [value]="input.colorInput"
        >
        <label
          [for]="input.colorId"
          [title]="input.title"
          [style.backgroundColor]="input.colorInput"
        ></label>
      </div><!-- input-wrapper -->
    }
  </div><!-- container-inputs -->

  <div class="container-presets">
    <header>
      <h3>Presets: </h3>
    </header>

    <div class="presets-wrapper">
      @for(preset of presets; track preset){
        <div class="preset" [title]="preset.title" (click)="preset.onClick()">
          <div class="config-pre" [style.backgroundColor]="preset.colorConfig">
            <div class="button-pre-wrapper">
              <div class="button-pre" [style.backgroundColor]="preset.colorAllButton!.inactive.buttonColor">
                <div class="circle-pre" [style.backgroundColor]="preset.colorAllButton!.circleColor"></div><!-- circle-pre -->
              </div><!-- button-pre -->

              <div class="button-pre btn-active" [style.backgroundColor]="preset.colorAllButton!.active.buttonColor">
                <div class="circle-pre" [style.backgroundColor]="preset.colorAllButton!.circleColor"></div><!-- circle-pre -->
              </div><!-- button-pre -->
            </div><!-- button-pre-wrapper -->
          </div><!-- config-pre -->
          <div class="content-pre" [style.backgroundColor]="preset.colorContent">
            <header>
              <div class="iconConfig-pre" [style.backgroundColor]="preset.colorIcon"></div><!-- iconConfig-pre -->
            </header>

            <section>
              <div class="textContent-pre" [style.backgroundColor]="preset.colorText"></div><!-- textContent-pre -->
            </section>
          </div><!-- content-pre -->
        </div><!-- preset -->
      }
    </div><!-- preset-wrapper -->
  </div><!-- container-presets -->
</div><!-- container -->
